@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Poppins&display=swap');
body{
    margin: 0px;
    padding: 0px;
}
.friendship{
    display: flex;
}
.first-blog{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
}
.photo-1 img{
    width: 75%;
}
.first-heading{
    border-left: 2px solid red;
}
span{
    color: orange;
}
.first-ancor{
    text-decoration: none;
    background-color: #DBB5BF;
    padding: 10px;
    color: white;
}
.friend-list-header{
    text-align: center;
}

.friend-photo{
    width: 33%;
    border-radius: 10px;
}
.one-tow-common{
     margin-left: 5%;
    margin-right: 5%;
}
.crazy-friend{
    background-color: rgb(77, 122, 118, 0.322);
}
.cool-friend{
    background-color: rgba(184, 59, 138, 0.432);
}
.sharp-friend{
    background-color: rgba(148, 148, 38, 0.37);
}
.good-friend{
    margin-left: 4%;
    margin-right: 4%;
}
.moriom-akter img{
    width: 100px;
    height: 138px;
    margin-top: 5px;
}
.raihan-hossen img{
    width: 100px;
    height: auto;
    margin-top: 5px;
}
.shemoly-akter img{
    width: 90px;
    height: auto;
    margin-top: 5px;
}

.second-blog{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 150px;
}
.photo-2 img{
    width: 90%;
    border-radius: 10px;
}
.three-blog{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    margin-bottom: 160px;
}
.photo-3 img{
    width: 100%;
}
.writing-3{
    padding-top: 140px;
}
.writing-2{
    margin-top: 190px;
}
.writing-1{
    margin-top: 65px;
}

.footer-scetion{
    width: 100%;
    height: 110px;
    background-color: black;

}
.footer-end{
    color: white;
    text-align: center;
    
}
.end-div{

    border: 2px solid red;
}
div.self-inprovement{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url(assignment-related-photo/group-photo.jpg);
    margin-bottom: 200px;
    box-shadow: 0px 0px red, 0px 0px green, 0px 0px black, 0px 0px blue;
}
.self-inprovement img{
    width: 50%;
}

.self-inprovement a{
    color: peru;
    text-decoration: none;
}